<div class="container">
	<h1>Welcome to your To-Do app, <%= current_user.username %>!</h1>
</div>
<div class="container">
	<h2>Want to leave?</h2>
	<%= button_to "Logout", '/logout', method: :delete%>
</div>