<div class="container">
	<h1>Creating/Editing Task</h1>

	<%= render 'form', task: @task %>
</div>

<div class="container">
	<%= button_to 'Back', tasks_path, class: 'secondary-button', method: :get %>
</div>
