/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
	width: 100%;
	min-width: 500px;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background-color: #222222;
	font-family: sans-serif;
	color: #dddddd;
}

body {
	min-height: 100%;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul, ol {
    text-align: left;
}

div.container {
	background-color: #333333;
	width: 50%;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	word-break: break-word;
}

div.container.secondary-container {
    background-color: #2c2c2c;
    color: #898989;
    width: 40%;
	opacity: 0.5;
	transition: .25s ease;
}

div.container.secondary-container:hover {
	opacity: 1;
}

div.container.warning {
	background-color: #770101;
	font-weight: bold;
}

div.container h1, div.container h2 {
	margin-top: 5px;
	margin-bottom: 10px;
}

div.container.task {
	margin-bottom: 0;
	text-align: left;
	position: relative;
	display: flex;
	flex-flow: row;
	align-items: center;
}

div.container.task div.column {
	margin: 0 20px;
}

div.container.task h3 {
	margin: 0 75px 0 0;
}

div.container.task p.due_date {
	font-style: italic;
	margin: 0;
}

div.container.task.due_date_expired {
    background-color: darkred;
}

div.container.task.task_done {
    background-color: darkgreen;
}

div.container.task.task_done h3 {
    text-decoration: line-through;
}

div.container.task p.category {
    background-color: lightgray;
    color: black;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    margin: 0;
	position: absolute;
    top: 10px;
    right: 10px;
}

div.container.sorting-options {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
	text-align: right;
}

div.container.sorting-options * {
    display: inline-block;
	width: auto;
	font-weight: normal;
	font-size: 14pt;
	margin: 0;
}

div.container.sorting-options p {
    margin-right: 5px;
}

div.container.secondary-container input, div.container.secondary-container select {
    color: #bfbfbf;
}

div.container.task .task-links {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

div#error_explanation {
	background: darkred;
    padding: 10px;
    border-radius: 30px;
}

div#error_explanation h2 {
	font-size: 14pt;
}

element.style {
}

input, select {
    margin: 5px;
	padding: 5px;
    font-size: 18pt;
    width: 80%;
    background-color: #444444;
    border: none;
    border-radius: 5px;
    color: #dddddd;
	transition: .25s ease;
	opacity: 1;
	text-align: center;
}

input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input:hover {
	opacity: .8;
}

input[type="submit"] {
	cursor: pointer;
	margin: 10px 0;
}

input[type="submit"]:not(.secondary-button) {
	background-color: darkslategray;
}

label {
    display: block;
    margin-top: 20px	;
}

a, a:visited {
	color: #dddddd;
	opacity: 1;
	transition: .25s ease;
}

a::hover, a:visited::hover {
	opacity: .8;
}